/* 5 - Resposive design para uso mobile */

@media (max-width: 600px) {

    #board {
        width: 300px;
        height: 300px;
    }      

    .title-container {
        margin-top: 50px;
    }    

    input {
        width: 200px;
    }

    button {
        width: 80px;
    }

    .result-container {
        width: 284px;
    }
}