/* 4 - Temas (nesse caso light-mode) */

body.light-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body.light-mode canvas { background-color: rgb(245, 245, 245); }

body.light-mode #loader { background-color: rgba(255, 255, 255, 0.6); }

body.light-mode .line {
    background-color: rgb(68, 65, 65);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

body.light-mode input,
body.light-mode button { 
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(228, 228, 228);
    color: rgb(0, 0, 0);
}

body.light-mode .result-container {
    background-color: rgba(223, 218, 218, 0.4);
    border: 1px solid rgb(228, 228, 228);
    color: black;
}

body.light-mode #pi-value { color: black; }

body.light-mode .light-mode-icon { filter: invert(0); }